/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoThin';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Roboto-Thin.ttf');
}

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    background: #2F2F2F;
    color: #D9D9D9;
    margin: 0 0 0 0;
    font-family: 'Roboto';
    height: 100%;
    font-size: 13px;
}

button {
    cursor: pointer;
    border: none;
    background: #8FA876;
    border-radius: 3px;
    text-align: center;
    color: white;
    padding: 5px 20px;
    height: 33px;
    font-size: 12px;
    outline: none;
    border: 1px solid #1E1E1E;
}
  
button:hover {
    opacity: 0.8;
}
  
button:active {
    background: rgb(101, 119, 83);
}

button.secondary {
    color: #ccc;
    background: #393939;
    border: 1px solid #555;
}

button.secondary:hover {
    background: #555;
}

span.link,
a {
    color: #8FA876;
    text-decoration: none;
    user-select: none;
}

span.link:hover,
a:hover {
    color: #a5b991;
    cursor: pointer;
}

.form input[type=text], .form input[type=password] {
    display: block;
}

input[type=text], input[type=password] {
    display: inline-block;
    color: white;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #404040;
    outline: none;
    border: 1px solid #1E1E1E;
    border-radius: 3px;
    transition:background-color 0.5s ease;
}

select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px;    
    background: #efefef;
    border: 1px solid #1E1E1E;
    border-radius: 3px;
    font-size: 1em;
    outline: none;
    background-color: #404040;
    color: #fff;
    outline: none;
}
.select-container {position:relative; display: inline;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 12px;
    right: .75em;
    border-top: 8px solid #ddd;
    opacity: 0.5;
}
select::-ms-expand {
    display: none;
}
select:focus {
    outline: none;
}
option {
    padding-top: 3px;
    color: #fff;
}

input[type=text]:focus,
input[type=password]:focus {
    border-color: #8FA876
}

:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
    color: #BBBBBB;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

#app {
    padding: 20px;
}

.flex-grow {
    flex-grow: 1;
}

.flex-direction-column {
    flex-direction: column;
}

.ml-5 {
    margin-left: 2rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

html {
  scrollbar-face-color: #8FA876;
  scrollbar-base-color: #8FA876;
  scrollbar-3dlight-color: #8FA876;
  scrollbar-highlight-color: #8FA876;
  scrollbar-track-color: #333;
  scrollbar-arrow-color: #333;
  scrollbar-shadow-color: #8FA876;
  scrollbar-dark-shadow-color: #8FA876;
}

::-webkit-scrollbar { width: 5px; height: 5px;}
::-webkit-scrollbar-button {  display: none; }
::-webkit-scrollbar-track {  background-color: #8FA876;}
::-webkit-scrollbar-track-piece { background-color: #333;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #8FA876; }
::-webkit-scrollbar-corner { background-color: #8FA876;}
::-webkit-resizer { background-color: #8FA876;}