#app {
    height: 100%;
    padding: 0;
}

#app.is-mouse-down {
    cursor: col-resize;
    user-select: none;
}

#app > div {
    overflow: hidden;
}

.grab {
    cursor: col-resize;
}

.tables {
    overflow-x: hidden;
    overflow-y: scroll;
}

.label {
    border-bottom: 1px solid #393939;
}

.label,
.tables > div {
    padding: 5px 8px;
}

.tables > div {
    cursor: pointer;
    background: #404040;
    overflow: hidden;
    margin-right: 1px;
}

.tables > div:hover {
    background: #494949;
}

.tables > div.is-selected {
    background: #8FA876;
    color: #fff;
}

.vertical-bar {
    border-left: 2px solid #393939;
    border-right: 2px solid #292929;
    border-top: none;
    border-bottom: none;
    height: 100%;
}

.tabs {
    padding-top: 5px;
    color: #999;
}

.tabs > div {
    padding: 5px 15px;
    cursor: pointer;
}

.tabs > div.is-selected,
.tabs > div:hover {
    color: #ccc;
}

.tabs > div.is-selected {
    border-top: 1px solid #292929;
    border-right: 1px solid #292929;
    border-left: 1px solid #292929;
    border-bottom: 1px solid #333;
    background: #333;
    margin-bottom: -1px;
}

.data,
.details,
.query {
    background: #333;
    border-top: 1px solid #292929;
    width: 100%;
    height: 100%;
}

.data {
    width: 0;
    min-width: 100%;
}

.filter {
    height: 48px;
    padding: 8px;
}

.filter svg {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 9px;
    right: -20px;
    fill: #BBBBBB;
    cursor: pointer;
}

.data-table {
    width: 100%;
    overflow: auto;
}

table {
    margin: 0 8px 8px 8px;
    border-collapse: collapse;
}

td {
    background: #404040;
    padding: 5px 8px;
    white-space: nowrap;
    border: 1px solid #3A3A3A;
    max-width: 100px;
    overflow: hidden;
	text-overflow: ellipsis;
}

th {
    background: #3D3D3D;
    border: 1px solid #292929;
    padding: 5px 0 5px 8px;
    color: #BBBBBB;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
}

.arrow {
    width: 17px;
    height: 25px;
    position: absolute;
    right: 8px;
    padding-left: 3px;
    top: 0;
    padding-top: 10px;
    background: #3D3D3D;
}

.arrow .asc {
    width: 0; 
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; 
    border-bottom: 5px solid #BBBBBB; 
}

.arrow .desc {
    width: 0; 
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    border-top: 5px solid #BBBBBB;    
}

#search-bar {
    height: 35px;
    position: relative;
}

#search-bar input {
    padding-left: 30px;
}

#search-bar svg {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 9px;
    left: 10px;
    fill: #BBBBBB;
}

#search-bar svg.clear-filter {
    right: 9px;
    left: auto;
    cursor: pointer;
}

.search button {
    margin-left: 10px;
}

.resizer {
    cursor: ew-resize;
    position: absolute;
    right: 0px;
    top: 5px;
    padding: 0px 5px 0px 4px;
    background: #3D3D3D;
    color: #888;
}